@import "variables";

body{
    .background-video{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.20;
    }
    main{
        align-content: center;
        justify-content: center;
        text-align: left;
        padding: 1px;
    }
    aside{
        width: 100%;
        word-wrap: break-word;
    }
    section{
        width: 100%;
        word-wrap: break-word;
        .table{
            table-layout: auto; /* Fija el ancho de las columnas */
            width: 100%; /* Ocupa el 100% del ancho del contenedor */
        }
    }
    h2{
        font-family: "Edu AU VIC WA NT Hand", serif;
        font-optical-sizing: auto;
        font-size: 1.6rem;
        font-style: italic;
        color: $oscuro;
    }
    h3{
        font-family: "roboto" sans-serif;
        font-optical-sizing: auto;
        font-size: 1.1rem;
        font-style: italic;
        color: $oscuro;
    }
}
.container{  
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "main aside1 aside1"
      "main aside2 aside2"
      "section1 section2 section2"
      "footer footer footer";
    z-index: 0;
}
  
.header{ 
    grid-area: header; 
    font-weight: bold;
    position: relative;
    z-index: 2;
}
  
.main{ 
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$oscuro(0, 0%, 0%); /* Fondo de las cajas */
    border: 2px solid $medio; /* Borde de 2px de color verde */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px $oscuro;
    padding: 10px;
}
        
.aside1{ 
    grid-area: aside1;
    position: relative;
    z-index: 10;
    background-color:$oscuro(0, 0%, 0%); /* Fondo de las cajas */
    border: 2px solid $medio; /* Borde de 2px de color verde */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px $oscuro;
    padding: 10px;
}
  
.aside2{ 
    grid-area: aside2;
    position: relative;
    z-index: 1;
    background-color:$oscuro(0, 0%, 0%); /* Fondo de las cajas */
    border: 2px solid $medio; /* Borde de 2px de color verde */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px $oscuro;
    padding: 10px;
}
  
.section2{ 
    grid-area: section2;
    position: relative;
    z-index: 10;
    background-color:$oscuro(0, 0%, 0%); /* Fondo de las cajas */
    border: 2px solid $medio; /* Borde de 2px de color verde */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px $oscuro;
    padding: 10px;
}
  
.section1{ 
    grid-area: section1;
    position: relative;
    z-index: 1;
    background-color:$oscuro(0, 0%, 0%); /* Fondo de las cajas */
    border: 2px solid $medio; /* Borde de 2px de color verde */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px $oscuro;
    padding: 10px;
}
  
.footer{ 
    grid-area: footer;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 1rem;
    z-index: 2;
    background-color:$oscuro(0, 0%, 0%); /* Fondo de las cajas */
    border: 2px solid $medio; /* Borde de 2px de color verde */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px $oscuro;
    padding: 10px;
}
td, th {
    background: $claro;
    color: $oscuro;
 }
 table {
    border-collapse: separate;
    border-spacing: 5px;
    background: $oscuro bottom left repeat-x;
    color: $claro;
 }

/*Fin de CSS Pagina Anterior*/
.styled-background {
    background-color: $medio;
    padding: 15px;
}
.icono{
    width: 40px;
    height: 35px;
}
